@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

:root {
    --cor-vermelha: #A33222;
    --cor-bg: #E9E6C8;
}

body {
    background-color: var(--cor-bg);
}

main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    height: 100vh;
}

.header img {
    margin-top: 3rem;
    margin-left: 3rem;
    height: 30px;
}

.containerBox {
    margin-left: 10rem;
    margin-top: 5rem;

}

.title h1 {
    font-weight: 300;
    margin-bottom: -10px;
}

.title h2 {
    font-weight: 900;
    letter-spacing: 1px;
    margin-left: 6px;
}

.container {}

textarea {
    background-color: var(--cor-bg);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 5px 0px inset;
    resize: none;
    outline: none;
    padding: 1rem;
    color: var(--cor-vermelha);
    font-weight: 800;
    font-size: 15px;
}

textarea::placeholder {
    font-weight: 400;
}

.output {
    animation: move-top 0.8s ease-in-out;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: #DFDCBC;
    text-align: center;
    max-width: 30.2rem;
    padding: 1rem 0rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}
.output:hover{
    background-color:#dbd9ba;
}

@keyframes move-top{
    0%{
        transform: translateY(-10rem);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }

}
.output p {
    font-weight: 500;
    color: var(--cor-vermelha);
}

.clipboard {
    position: absolute;
    left: 2rem;

}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    width: 31.2rem;
}

.button {
    --color: #ac4738;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.button::before,
.button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: white;
}

.button:active {
    filter: brightness(.8);
}




button:nth-of-type(1) {
    background-color: var(--cor-vermelha);
    color: white;
    border: none;
    padding: 0.8rem 3rem;
    cursor: pointer;
}

button:nth-of-type(2) {
    background-color: transparent;
    color: var(--cor-vermelha);
    border: none;
    padding: 0.8rem 3rem;
    border: 1px solid var(--cor-vermelha);
    cursor: pointer;
    outline: 0;
    grid-gap: 8px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

.right {
    height: 100vh;
}

.right img {
    margin-left: 10rem;
    margin-top: 9rem;
}

button:nth-of-type(2):hover {
    box-shadow: 4px 4px 0 var(--cor-vermelha);
    transform: translate(-4px, -4px);
}

button:nth-of-type(2):focus-visible {
    outline-offset: 1px;
}
.error{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2rem;
    left: 40%;
    background-color: #dbd9ba;
    width: 15rem;
    height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    animation: move-top 0.8s ease-in-out;
}
.error img{
    height: 20px;
    margin-right: 10px;
}
span{
    color: var(--cor-vermelha);
    font-size: 10px;
}